
.internship-heading {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.5rem;
}

.mb-pt5 {
  margin-bottom: 0.5rem;
}

.w-20 {
  width: 20vw;
}

.action-button {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
